/*  PARTIE FIL DE DISCUSSION */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.fond {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    color: white;
}

.container-discussion {
    background-color: #1E1E1E;
    opacity: 95%;
    width: 81%;
    display: block;
    margin-left: auto;
    padding: 15px;
    padding-right: 0;
    padding-left: 0;
}

.container-discussion h1 {
    padding-left: 10px;
}

.poste {
    padding: 15px;
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px;
}

.area-publication {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: transparent;
    border: none;
    width: 85%;
    display: block;
    border-bottom: 1px solid;
    caret-color: white;
}

.area-publication:focus {
    outline: none;
}

.button {
    padding: 15px;
    background-color: #CCA756;
    color: white;
    border: none;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: bold;
}

.button:hover {
    background-color: #f3c666;
    cursor: pointer;
}

#sendPoste {
    display: block;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 15px;
}

.container-publication {
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 15px;
}

.consult-poste {
    text-decoration: none;
    color: white;
}

.poste:hover {
    background-color: #242424;
    transition: background-color 0.3s linear;
    cursor: pointer;
}

.footer-poste {
    padding-top: 5px;
    display: flex;
}

.margin-bot-10 {
    margin-bottom: 10px;
}

.nb-message {
    padding-left: 5px;
    margin-top: 3px;
}


/* The sidebar menu */
.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 19%;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #1E1E1E;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    border-right: solid 1px rgb(162, 0, 0);
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border-bottom: 2px solid #1E1E1E;
    width: fit-content;
}

.Logo-side {
    display: block;
    margin: auto;
    width: fit-content;
}

.link-nav {
    display: block;
    width: fit-content;
    margin: auto;
    text-align: left;
    padding-top: 15px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.nav-links {
    display: inline-block;
    text-decoration: none;
}

.nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(162, 0, 0);
    transition: width .3s;
}

.nav-links:hover::after {
    width: 100%;
}

.nav-links:hover {
    color: #f1f1f1;
}

.header-poste {
    color: white;
}

.header-poste img {
    flex-grow: 0;
    flex-shrink: 0;
}

.header-poste:hover {
    cursor: pointer;
}

.content-publication {
    display: block;
    padding-top: 20px;
}

.comment-publication {
    display: block;
    margin-top: 20px;
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px;
    padding: 10px;
}

.reponse-publication {
    display: block;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
}

a {
    text-decoration: none;
}

.commentaire {
    padding: 15px;
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px;
}

@media screen and (max-width: 1023px) {
    .sidenav {
        display: none;
    }

    .responsive-sidenav {
        display: block;
    }

    .responsive-sidenav-open {
        display: block;
    }

    .container-discussion {
        width: 100%;
    }

    .container-discussion h1 {
        text-align: center;
    }

    .header-poste {
        width: fit-content;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .sidenav {
        display: block;
    }

    .responsive-sidenav {
        display: none;
    }

    .responsive-sidenav-open {
        display: none;
    }
}

@media screen and (max-width: 426px) {
    .input-profil{
        margin-top: 5px;
    }
}



/* RESPONSIVE SIDE NAV */

/* The side navigation menu */
.responsive-sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.responsive-sidenav .link-nav {
    text-align: center;
}

/* The navigation menu links */
.responsive-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.responsive-sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.responsive-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .responsive-sidenav {
        padding-top: 15px;
    }

    .responsive-sidenav a {
        font-size: 18px;
    }
}

.responsive-sidenav-open {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 3em;
    margin-left: 15px;
}

.bandeau-profil {
    background: url(../img/summonersrift.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-bandeau-profil {
    color: black;
    height: fit-content;
    width: fit-content;
    position: relative;
    z-index: 1;
}

.photo-compte {
    display: block;
    width: fit-content;
    margin: auto;
}

.header-compte {
    color: white;
    font-size: 1.5rem;
}

.update-compte {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 40px;
}

#infos-user {
    display: none;
}

.delete-poste{
    display: block;
    width: fit-content;
    margin-left: auto;
}

#DeletePoste{
    background-color: red;
}

.container-update-profil{
    display: block;
    margin: auto;
    width: fit-content;
    margin-top: 15px;
}

.container-input-profil{
    display: block;
    margin: auto;
    text-align: center;
    width: fit-content;
}

table{
    width: 100%;
}

td {
    width: 20%;
    padding: 20px;
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px;
}

tr:nth-child(even) td{ 
    background-color: #424242; 
}

thead tr th{
    padding: 20px;
}